
@if (Product != null)
{
<div class="card" style="width: 28rem;">
    <img class="card-img-top" src="@Product.ImageLink" alt="Card Image cap" />
    <div class="card-body">
        <h5 class="card-title">@Product.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">  @Product.Brand</h6>
        <hr />
        <p>
            <b>Price:</b><label style="color:darkred"> @Product.Price.ToString("c")</label>
        </p>
        <p class="card-text">@Product.Description</p>
    </div>
</div>
<NavLink href="products">Back to Products</NavLink>
}

@code {
    [Parameter]
    public Product Product { get; set; }
}
